<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>
  <table>
    <% for (var key in urls) { %>
      <tr>
        <td><a href="/u/<%= key %>"><%= key %></a> : <%= urls[key]%></td>
        <td>
        <a href="/urls/<%= key %>">Edit</a>
        </td>
        <td>
          <a href="/urls/<%= key %>/delete">Delete</a>
        </td>
      </tr>
    <% } %>
    </table>
  </table>
</body>
</html>